<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://hc.supconit.com/mybatis-3-mapper.dtd">

<!-- $!{entity.name} MAPPER ; CREATE AT $!{now} BY $!{currentUser.email}-->
<mapper namespace="$!{entity.className}">
	
</mapper>
