###parse('/produce/entity/templates/_class_copyright.vm')
package $!{entity.group.packageName}.entities;

import $!{entity.group.packageName.replace("com.supconit.", "hc.")}.entities.Abstract$!{entity.code};
/**
 * @author $!{currentUser.email}
 * @create $!{now}
 * @since $!{version}
 * 
 */
public class $!{entity.code} extends Abstract$!{entity.code} {
	private static final long	serialVersionUID	= -$!{serialVersion}L;
	
}